@font-face {
  font-family: 'Graphik LCG regular';
  src: url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.eot');
  src: url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.woff2') format('woff2'),
      url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.woff') format('woff'),
      url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.ttf') format('truetype'),
      url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG bold';
  src: url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.eot');
  src: url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.woff2') format('woff2'),
      url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.woff') format('woff'),
      url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.ttf') format('truetype'),
      url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


*, html, body{
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

/* Шапка */

header{
  padding: 34.23px 72px 36px 51px;
}


.header_menu_link{
  font-family: 'Graphik LCG regular';
  font-size: 15px;
  line-height: 20px;
  color: black;
  padding-left: 51px;

}


/* Кнопки */

.header_button_log{
  box-sizing: border-box;
  margin-right: 10px;
  font-family: 'Graphik LCG bold';
  color: black;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.header_button_Try{
  box-sizing: border-box;
  font-family: 'Graphik LCG bold';
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  border: none;
  padding: 0px 21px;
  background: #FF6336;
}


/* Тело */

section{
  width: 1300px;
  margin: auto;
}

#first{
  margin-top: 129px;
}

.fist_head{
  font-family: 'Graphik LCG bold';
  font-size: 65px;
  line-height: 70px;
  color: black;
}

.first_sub{
  font-family: 'Graphik LCG regular';
  font-size: 25px;
  line-height: 35px;
  color: black;
  margin-right: 68px;

}

.first_p{
  font-family: 'Graphik LCG regular';
  font-size: 15px;
  line-height: 25px;
  color: black;
}

#company_pad{
  margin-top: 172px;
}

.company{
  background: #FF9C7D;
}

.company_head{
  padding-top: 108px;
  font-family: 'Graphik LCG bold';
  font-size: 50px;
  line-height: 60px;
  color: black;
  padding-bottom: 88.68px;
}



/* Вспомогательные плюшки */

.padding_top{
  padding-top: 50px;
}

.padding_top_p{
  padding-top: 25px;
}


.marging_right{
  margin-right: 10px;
}

.padding_button{
  padding: 0px 36px;
}
.padding_bottom{
  padding-bottom: 88.68px;
}


.width_button{
  width: 160px;
}


/* Флексы */

.flex {
  display: flex;
}

.j-c-c{
  display: flex;
  justify-content: center;
}

.a-i-c{
  display: flex;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.j-c-b{
  display: flex;
  justify-content: space-between;
}