@font-face {
  font-family: 'Graphik LCG regular';
  src: url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.eot');
  src: url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.woff2') format('woff2'),
      url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.woff') format('woff'),
      url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.ttf') format('truetype'),
      url('./fonts/GraphikLCG-Regular/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG bold';
  src: url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.eot');
  src: url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.woff2') format('woff2'),
      url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.woff') format('woff'),
      url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.ttf') format('truetype'),
      url('./fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


*, html, body{
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  
}




/* Шапка */

header{
  padding: 34.23px 72px 36px 51px;
  border-bottom: 0.1px solid grey;
}


.header_menu_link{
  font-family: 'Graphik LCG regular';
  font-size: 15px;
  line-height: 20px;
  padding-left: 51px;

}


/* Кнопки */

.header_button_log{
  width: 120px;
  margin-right: 10px;
  font-family: 'Graphik LCG bold';
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.header_button_Try{
  width: 120px;
  font-family: 'Graphik LCG bold';
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  border: none;
  padding: 0px 21px;
  background: #FF6336;
}


/* Тело */

.container{
  width: 68%;
  margin: auto;
}

.main_container{
  width: 50%;
}

.img_main{
  width: 50%;
  min-width: 380px;
}

.name_company{
  padding-left: 50px;
  min-width: 130px;

}

.name_company:first-child{
  padding-left: 0%;
}

.block{
  width: 50%;
}

.img_block{
  min-width: 350px;
}

.boost_block{
  width: 32%;
}

.footer_block{
  width: 20%;
}

.button_block{
  min-height: 47px;
}


#first{
  margin-top: 129px;
}

.fist_head{
  font-family: 'Graphik LCG bold';
  font-size: 65px;
  line-height: 70px;

}

.first_sub{
  font-family: 'Graphik LCG regular';
  font-size: 25px;
  line-height: 35px;

  margin-right: 68px;

}

.first_p{
  font-family: 'Graphik LCG regular';
  font-size: 15px;
  line-height: 25px;

}


/* Карточки localize */



.card_text{
  padding-top: 26px;
  font-family: 'Graphik LCG bold';
  font-size: 25px;
  line-height: 35px;

}

.card_sub_text{
  width: 330px;
  font-family: 'Graphik LCG regular';
  font-size: 18px;
  line-height: 25px;
  padding-top: 20px;
  
}

.card{
  padding-top: 75px;
  text-align: center;
}

/* Карточки boost */

.card_boost_text{
  padding-top: 49px;
  font-family: 'Graphik LCG bold';
  font-size: 30px;
  line-height: 40px;

}

.card_boost_sub_text{
  font-family: 'Graphik LCG regular';
  font-size: 20px;
  line-height: 30px;
  padding-top: 33px;
  padding-bottom: 26px;
}

.img_lokalise{
height: 180px;
}

/* Revoult block */

.revoult_text{
  padding-right: 59.3px;
  font-family: 'Graphik LCG regular';
  font-size: 30px;
  line-height: 40px;

}

.img_rectangle{
  padding: 53px 0 105px 0;
  max-height: 470px;
}

/* Brown block */

.brown_text{
  width: 461px;
  font-family: 'Graphik LCG bold';
  font-size: 35px;
  line-height: 50px;

}

.brown_padding_right{
  border-left: 2px solid black;
  padding-right: 70.86px;
  padding-left: 71px;
}

.brown_marging_left{
  padding-left: 67px;
}

.cake_padding_bot{
  padding-bottom: 88px;
}


/* Bird block */


.bird_head{
  text-align: center;
  width: 791px;
  font-family: 'Graphik LCG bold';
  font-size: 65px;
  line-height: 75px;

}

.bird_sub{
  width: 539px;
  font-family: 'Graphik LCG regular';
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 25px;
}

.bird_marging_top{
  margin-top: 32px;
}


/* Футер */

footer{
  padding: 92px 0;
}


/* Case Studies */

.case_head{
  font-family: 'Graphik LCG bold';
  font-size: 40px;
  line-height: 50px;
  color: black;
  padding-bottom: 28px;
}


.bike_text{
  font-family: 'Graphik LCG regular';
  width: 290px;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 15px;

}

.case_img{
  padding-bottom: 24px;
}


#img_spec{
  width: 80px;
  height: 32px;
}


.footer_list_text{
  font-family: 'Graphik LCG bold';
  font-size: 20px;
  line-height: 25px;

  padding-bottom: 21px;
}

.footer_link_text{
  font-family: 'Graphik LCG regular';
  font-size: 15px;
  line-height: 15px;
}


.footer_link_margin{
  margin-bottom: 15px;
}

.base_margin_top{
  margin-top: 95px;
}

.base_text{
  padding-left: 14px;
  font-family: 'Graphik LCG regular';
  width: 301px;
  font-size: 12px;
  line-height: 15px;
}

.base_img{
  width: 90px;
  height: 21px;
}

.base{
  border-top: 1px solid black;
}

.padding_top_base{
  padding-top: 52px;
}




/* Вспомогательные плюшки */

#company_pad{
  margin-top: 172px;
}


.company_head{
  padding-top: 108px;

}

.margin_top_lokalise{
  margin-top: 150px;
}


.head_text{
  font-family: 'Graphik LCG bold';
  font-size: 50px;
  line-height: 60px;

}

.head_sub_text{
  font-family: 'Graphik LCG regular';
  font-size: 20px;
  line-height: 30px;
  padding: 30px 0;

}

.bold{
  font-family: 'Graphik LCG bold';
}


.underline{
  text-decoration: underline;
}

.padding_top{
  padding-top: 50px;
}

.margin_top_app{
  margin-top: 90px;
}

.padding_top_lokalise{
  padding-top: 75px;
}



.marging_top_block{
  margin-top: 250px;
}


.padding_top_p{
  padding-top: 25px;
}


.marging_right{
  margin-right: 10px;
}

.m_r{
  margin-right: 60px;
}


.padding_button{
  padding: 0px 36px;
}
.padding_bottom{
  padding-bottom: 88.68px;
}

.padding_bottom_companies{
  padding-bottom: 120px;
}


.padding_bottom_card{
  padding-bottom: 147px;
}


.marging_bot{
  margin-bottom: 161px;
}


.width_button{
  width: 160px;
}

.width_p{
  width: 100px;
}


.padding_right_text{
  padding-right: 167px;
}

.padding_left_text{
  padding-left: 138px;
}

/* Цвета */

.color{
  background-color: #FFF8E4;
}

.black{
  color: black;
}

.blue{
  background-color: #C9E8F2;
}

.brown{
  background-color: #DABC98;
}

.orange{
  background: #FF9C7D;
}

.back_black{
  background-color: black;
}


.grey{
  background-color: #EEEEEE;;
}

/* Флексы */

.flex {
  display: flex;
}

.j-c-c{
  display: flex;
  justify-content: center;
}

.a-i-c{
  display: flex;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.j-c-b{
  display: flex;
  justify-content: space-between;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}

.column{
  flex-direction: column;
}

.j-c-a{
  display: flex;
  justify-content: space-around;
}


