// Цвета

.color-grey{
  color: #B3B3BA;
}

.background-color-grey{
  background-color: #B3B3BA;
}

.color-blue{
  color: #24A3FF;
}

.color-black{
  color: black;
}

.background-color-carousel{
  background-color: #F5F5FA;
}
.background-color-black{
  background-color: black!important;

}

.color-legals{
  color: #323264;;
}

.link-menu:active{
  color: #F0145A;
}

.active{
  color: #F0145A;
}
// Конец 


.width-auto{
  width: auto;
}

.under-about{
  text-decoration: underline!important;
}

.nav-about-ua{
  @include font(400, 25px, 45px);

}
// Бургер

.menu__btn > .background-color-black,
.menu__btn > .background-color-black::before,
.menu__btn > .background-color-black::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition-duration: 0.25s;
}


// legal-services

.legal-services{
  &-padding-right{
    padding-right: 40px;
    @media screen and (max-width:980px) {
      padding-right: 0px;
    }
  }
  padding: 102px 174px 100px 172px;
  &-sub-text{
    @include font(400, 21px, 30px );
    color: black;
    width: 600px;
    @media screen and (max-width:980px) {
      width: auto;
    }
  }
  &-advant-title{
    @include font(600, 36px, 42px);
    margin-bottom: 0px;
    padding-left: 10px;
  }
  &-sub-text-right{
    @include font(400, 18px, 22px);
  }
  &-block{
    border-left: 4px solid #E6E6F0;
    padding-left: 21px;
    @media screen and (max-width:978px) {
      border-top: 4px solid #E6E6F0;
      border-left: none;
    }
    @media screen and (max-width:600px) {
      padding-left: 0px;
    }
  }
  &-padding-top{
    padding-top: 40px;
  }
  @media screen and (max-width:1152px) {
    padding: 61px 87px 50px 86px;
  }
  @media screen and (max-width:980px) {
    padding: 31px 57px 10px 36px;
  }
  @media screen and (max-width:980px) {
    flex-direction: column;
    padding: 20px;
  }
}

.team-background-img{
  position: relative;
  background-image: url(../img/team.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 438px;
  background-size: cover;
  background-blend-mode: screen, normal;
  @media screen and (max-width:600px) {
    height: 290px;
  }
}



.team-title{
  @include font(800, 96px, 113px);
  color: white;
  letter-spacing: 63px;
  opacity: 0.8;
  height: 438px;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width:1000px) {
    font-size: 63px;
    letter-spacing: 33px;
  }
  @media screen and (max-width:603px) {
    font-size: 49px;
    letter-spacing: 28px;
    height: 290px;
  }
  @media screen and (max-width:603px) {
    font-size: 35px;
    letter-spacing: 20px;
  }
}

.gradient-text-about{
  background-image: linear-gradient(280.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Карусель

.achievement{
  &-title-text{
    @include font(800, 14px, 17px);
    text-align: center;
    padding-top: 28px;
    text-transform: uppercase;
  }
  &-block{
    background-color: white;

  }
  &-img-1{
    height: 109px;
    background-image: url(../img/legal-500.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  &-img-2{
    height: 109px;
    background-image: url(../img/legal-img.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  &-img-3{
    height: 109px;
    background-image: url(../img/leader-img.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  &-img-4{
    height: 109px;
    background-image: url(../img/ulf-img.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  &-margin-bottom{
    margin-bottom: 62px;
  }
  &-padding-block{
    padding-left: 60px;
    padding-right: 60px;
    @media screen and (max-width: 580px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  &-padding-footer{
    padding-top: 0px;
  }
}

.margin{
  margin: auto;
}
.margin-bottom-carousel{
  margin-bottom: 30px;
}

.carousel-indicators-bottom{
  bottom: 0px;
}

@media screen and(max-width: 1000px) {
  .adapt-menu-about{
    flex-direction: column-reverse;
  }
}
  @media screen and(max-width: 760px) {

  .adapt-adress-about, .adapt-facebook-about, .adapt-number-about{
    display: none;
  }
  .adapt-about-us{
    justify-content: space-between;
    padding-bottom: 16px;
  }
  .adapt-legals-about{
    font-size: 45px;
    padding-bottom: 8px;
  }
  .nav-about-ua{
    font-weight: 600;
    font-size: 16px;
  }

  .adapt-about-us-vektor{
    height: 35px;
  }
}

@media screen and(max-width: 400px) {
  .adapt-legals-about{
    font-size: 29px;
    padding-bottom: 4px;
  }
  .adapt-company-about{
    font-size: 10px;
  }
}

.adapt-new-carosel{
  display: none;
}


@media screen and (max-width: 995px) {
.adapt-carousel-active{
  display: none;
}
.adapt-new-carosel{
  display: block;
}
}
