*, body, html{
  padding: 0;
  margin: 0;
  list-style-type: none!important;
  text-decoration: none!important;
  box-sizing: border-box;
}

a{
  color: $white-color;
}

span{
  color: $base-color;
}

.bi-circle{
  background: #E6E6F0;
  border-radius: 50%;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.wrap{
  background: $core-gradient;
  color: $white-color;
  border-radius: 0 0 12px 12px;
   &-nav{
    padding: 50px 60px 63px 60px;
    &-logo{
      width: 155px;
      height: 46.73px;
      &-name{
        @include font(700, 45px, 40px);
      }
    }
    &-language{
      @include font(700, 12px, 14.16px);
      padding-right: 20px;
      &-padding-left{
        padding-left: 10px
      }
    }
    &-address{
      @include font(400, 16px, 18.88px);
      padding-right: 13px;
      &-odessa-bottom{
        margin-bottom: 0;
      }
    }
    &-number{
      @include font(700, 16px, 18.88px);
      padding-right: 11px;
    }
    &-facebook{
      padding-left: 10px;
    }
    &-menu{
      &-link{
        @include font(400, 15px, 21.24px);
        padding-left: 15px;
      }
    }
}
&-title{
  @include font(400, 38px, 44.85px);
  padding-top: 65px;
  padding-right: 50px;
}
&-img-p{
  padding-top: 185px;
  &-padding{
    padding-right: 200px
  }

}
&-bg-p{
  background-image: url(../img/bg-p.png);
  background-repeat: no-repeat;
  background-position: center;
}
&-circle{
  position: absolute;
  bottom: -50px;
  left: 46%;
  opacity: 50%;
}
&-info{
  --bs-gutter-x: 0px;
  margin-top: 80px;

  &-left{
    padding-right: 40px;
    text-align: end;
    border-right: 4px solid #E6E6F0;
    :hover{
      cursor: pointer;
      background-image: $gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
    }
    :last-child{
      padding-bottom: 0px;
    }
    &-text{
      @include font(700, 42px, 49.57px);
      color: $grey-color;
      padding-bottom: 20px;
      margin-bottom: 0px;
    }
  }
  &-right{
    padding-top: 50px;
    padding-left: 40px;
    &-title{
      @include font(400, 32px, 37.77px)
    }
    &-desribe{
      padding-top: 20px;
      @include font(400, 21px, 30px)
    }
    }
  }
  &-p-l-r{
    padding-left: 60px;
    padding-right: 60px
  }
  &-service{
    @include font(400, 14px, 16.52px);
    margin-top: 80px;
    opacity: 0.5;
  }
  &-describe-service{
    @include font(700, 42px, 49.57px);
    background-image: linear-gradient(280.13deg, #EF8080 0.84%, #F0145A 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  &-card-padding-b{
    padding-bottom: 80px;
  }
  &-card-padding{
    padding-top: 68px;
  }
  &-card-img{
    width: 92px;
    height: 92px;
    background-color: white;
    border-radius: 24px;
    padding: 12px;
  }
  &-card-title{
    @include font(400, 24px, 28.32px);
    color: $blue-color;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  &-card-describe{
    @include font(400, 18px, 26px)
  }
}

  .wrap-shadow{
    margin: auto;
    width: 95vw;
    height: 10px;
    background-color: #CACADB;
    border-radius: 0 0 12px 12px;

  }

  .wrap-shadow-2{
    margin: auto;
    width: 90%;
    height: 10px;
    background-color: #E7E7F2;
    border-radius: 0 0 12px 12px;
    bottom: -20px;
  }

  // Карусель

  .carousel{
    &-p-l-b{
      padding-left: 40px;
    }
    &-img{
      --bs-gutter-x: 0px;
    }
    &-bg{
      background-color: $bg-grey-color;
      border-radius: 12px;
    }
    margin-top: 40px;
    &-link-team{
      padding-top: 40px;
      color: $blue-color;
      letter-spacing: 1px;
      @include font(700, 14px, 16.52px)
    }
    &-title{
      @include font(700, 42px, 50px);
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    &-author{
      @include font(400, 18px, 21px);
      color: $grey-color;
      &-p-t{
        padding-top: 20px;
      }
    }
  }

  .carousel-indicators{
    bottom: -70px;
  }

  .carousel-indicators [data-bs-target]{
    width: 16px;
    height: 16px;
    background-color: $blue-color;
    opacity: 0.2;
    border-radius: 50%;
  }

  .carousel-indicators .active{
    opacity: 1;
    background-color: $blue-color!important;
  }


// Успешные кейсы

.successful-cases{
  grid-gap: 5px;
  margin: 10px;
  border-radius: 12px;
  margin-top: 81px;
  display: grid;
  grid-template-columns: 300px 1fr 2fr 2fr 3fr 1fr  ;
  grid-template-rows: 50px 200px 200px;

  &-top-block{
    background-color: $bg-grey-color;
  }
  &-block{
    padding-top: 87px;
    justify-content: center;
    height: 255px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &-block-two{
    padding-top: 87px;
    justify-content: center;
    height: 255px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &-block-hitel{
    display: flex;
    flex-direction: column;
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

  }
  &-s-c{
    align-items: center;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &-3d-look{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  &-adtelligent{
    flex-direction: column;
    text-align: justify;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-content: end;
  }

  &-s-s-text{
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-left: 20px;
    @include font (700, 14px, 15.52px);
    color: $base-color;
  }
  &-title-text{
    padding-left: 20px;
    text-align: start;
    @include font (400, 24px, 28.32px);
    color: #686887;
  }
  &-p-text{
    padding-left: 20px;
    @include font(400, 18px, 26px);
    color: #B3B3BA;
  }
  &-padding-top-text{
    padding-top: 48px;
  }
  &-padding-left{
    padding-left: 0px!important;
  }
  &-border-right{
    border-right: 5px solid white;
  }
  &-height{
    height: 200px;
  }
  &-p-t-l{
    padding-top: 70px;
  }
}

.trust_us{
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 30px;
  text-align: center;
  &-title{
    text-transform: uppercase;
    @include font(700,14px, 16.52px);
    color:#323264;
    padding-bottom: 30px;
  }
  &-skipp{
    --bs-gutter-x: 0rem;
  }
  &-img-1{
   background-image: url(../img/Item-hitel.png);
   @include background-size;
  }
  &-img-2{
    background-image: url(../img/Item-wannaBiz.png);
    @include background-size;
   }
   &-img-3{
    background-image: url(../img/Item-tapgereni.png);
    @include background-size;
   }
   &-img-4{
    background-image: url(../img/Item-3dlook.png);
    @include background-size;
   }
   &-img-5{
    background-image: url(../img/Item-aranger.png);
    @include background-size;
   }
   &-img-6{
    background-image: url(../img/Item-adtel.png);
    @include background-size;
   }
   &-img-7{
    background-image: url(../img/Item-clicky.png);
    @include background-size;
   }
   &-img-8{
    background-image: url(../img/Item-fashing.png);
    @include background-size;
   }
   &-img-9{
    background-image: url(../img/Item-infatek.png);
    @include background-size;
   }
   &-img-10{
    background-image: url(../img/Item-city-park.png);
    @include background-size;
   }
   &-img-11{
    background-image: url(../img/Item-art-print.png);
    @include background-size;
   }
   &-img-12{
    background-image: url(../img/Item-ultimate.png);
    @include background-size;
   }
   
}

.publications{
  &-padding{
    padding: 0px 60px;
  }
  &-p-b-t{
    padding-bottom: 40px;
  }
  background-color: $bg-grey-color;
  padding-top: 35px;
  &-title-link{
    @include font(700, 14px, 17px);
    text-transform: uppercase;
    color: $blue-color;
  }
  &-cards{
    overflow-y: hidden;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 285px 155px 50px 100px;
    &-img{
      width: 100%;
    }
    &-card-2{
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    &-card-3{
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    &-card-4{
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 4;
    }
    &-card-5{
      margin-top: 180px;
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;

    }
    &-card-6{
      margin-top: 210px;
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 4;

    }
  }
  &-card{
    background-color: #FFFFFF;
    border-radius: 8px;
    &-pading{
      padding: 20px 20px 15px 20px;
    }
  }
  &-title-text{
    color: $blue-color;
    @include font(700,18px,21px);
    text-align: start;
  }
  &-dis-text{
    color: $grey-color;
    @include font(700, 12px, 14px);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 4px solid #E6E6F0;
  }
  &-dis-bot-text{
    color: black;
    @include font(400, 16px, 22px);
    padding-bottom: 20px;
  }
  &-blure-block{
    bottom: 0px;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
  }
  &-button{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 250px;
    height: 50px;
    background-color: $blue-color;
    @include font (400, 14px, 16.52px);
    text-align: center;
    padding: 16px 0px;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
  }
}
