*, body, html{
  padding: 0;
  margin: 0;
  list-style-type: none!important;
  text-decoration: none!important;
  box-sizing: border-box;
}

a{
  color: $white-color;
}

span{
  color: $base-color;
}

.bi-circle{
  background: #E6E6F0;
  border-radius: 50%;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.wrap{
  background: $core-gradient;
  color: $white-color;
  border-radius: 0 0 12px 12px;
   &-nav{
    padding: 50px 60px 63px 60px;
    &-logo{
      width: 155px;
      height: 46.73px;
      &-name{
        @include font(700, 45px, 40px);
      }
    }
    &-language{
      @include font(700, 12px, 14.16px);
      padding-right: 20px;
      &-padding-left{
        padding-left: 10px
      }
    }
    &-address{
      @include font(400, 16px, 18.88px);
      padding-right: 13px;
      &-odessa-bottom{
        margin-bottom: 0;
      }
    }
    &-number{
      @include font(700, 16px, 18.88px);
      padding-right: 11px;
    }
    &-facebook{
      padding-left: 10px;
    }
    &-menu{
      &-link{
        @include font(400, 15px, 21.24px);
        padding-left: 15px;
      }
    }
}
&-title{
  @include font(400, 38px, 44.85px);
  padding-top: 65px;
  padding-right: 50px;
}
&-img-p{
  padding-top: 185px;
  &-padding{
    padding-right: 200px
  }

}
&-bg-p{
  background-image: url(../img/bg-p.png);
  background-repeat: no-repeat;
  background-position: center;
}
&-circle{
  position: absolute;
  bottom: -130px;
  left: 46%;
  opacity: 50%;
}
&-info{
  --bs-gutter-x: 0px;
  margin-top: 80px;

  &-left{
    padding-right: 40px;
    text-align: end;
    border-right: 4px solid #E6E6F0;
    :hover{
      cursor: pointer;
      background-image: $gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
    }
    :last-child{
      padding-bottom: 0px;
    }
    &-text{
      @include font(700, 42px, 49.57px);
      color: $grey-color;
      padding-bottom: 20px;
      margin-bottom: 0px;
    }
  }
  &-right{
    padding-top: 50px;
    padding-left: 40px;
    &-title{
      @include font(400, 32px, 37.77px)
    }
    &-desribe{
      padding-top: 20px;
      @include font(400, 21px, 30px)
    }
    }
  }
  &-p-l-r{
    padding-left: 60px;
    padding-right: 60px
  }
  &-service{
    @include font(400, 14px, 16.52px);
    margin-top: 80px;
    opacity: 0.5;
  }
  &-describe-service{
    @include font(700, 42px, 49.57px);
    background-image: linear-gradient(280.13deg, #EF8080 0.84%, #F0145A 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  &-card-padding{
    padding-top: 68px;
  }
  &-card-img{
    width: 92px;
    height: 92px;
    background-color: white;
    border-radius: 24px;
    padding: 12px;
  }
  &-card-title{
    @include font(400, 24px, 28.32px);
    color: $blue-color;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  &-card-describe{
    @include font(400, 18px, 26px)
  }
}

  .wrap-shadow{
    margin: auto;
    width: 95vw;
    height: 10px;
    background-color: #CACADB;
    border-radius: 0 0 12px 12px;

  }

  .wrap-shadow-2{
    margin: auto;
    width: 90%;
    height: 10px;
    background-color: #E7E7F2;
    border-radius: 0 0 12px 12px;
    bottom: -20px;
  }

  // Карусель

  .carousel{
    &-p-l-b{
      padding-left: 40px;
    }
    &-img{
      --bs-gutter-x: 0px;
    }
    &-bg{
      background-color: $bg-grey-color;
      border-radius: 12px;
    }
    margin-top: 40px;
    &-link-team{
      padding-top: 40px;
      color: $blue-color;
      letter-spacing: 1px;
      @include font(700, 14px, 16.52px)
    }
    &-title{
      @include font(700, 42px, 50px);
      background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    &-author{
      @include font(400, 18px, 21px);
      color: $grey-color;
      &-p-t{
        padding-top: 20px;
      }
    }
  }

  .carousel-indicators{
    bottom: -70px;
  }

  .carousel-indicators [data-bs-target]{
    width: 16px;
    height: 16px;
    background-color: $blue-color;
    opacity: 0.2;
    border-radius: 50%;
  }

  .carousel-indicators .active{
    opacity: 1;
    background-color: $blue-color!important;
  }


// Успешные кейсы

.successful-cases{
  grid-gap: 5px;
  margin: 10px;
  border-radius: 12px;
  margin-top: 81px;
  display: grid;
  grid-template-columns: 300px 1fr 2fr 2fr 3fr 1fr  ;
  grid-template-rows: 50px 200px 200px;

  &-top-block{
    background-color: $bg-grey-color;
  }
  &-block{
    padding-top: 87px;
    justify-content: center;
    height: 255px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &-block-two{
    padding-top: 87px;
    justify-content: center;
    height: 255px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &-block-hitel{
    display: flex;
    flex-direction: column;
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

  }
  &-s-c{
    align-items: center;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &-3d-look{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  &-adtelligent{
    display: flex;
    flex-direction: column;
    text-align: justify;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  &-clikky{
    display: flex;
    flex-direction: column;
    text-align: justify;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  &-s-s-text{
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-left: 20px;
    @include font (700, 14px, 15.52px);
    color: $base-color;
  }
  &-title-text{
    padding-left: 20px;
    text-align: start;
    @include font (400, 24px, 28.32px);
    color: #686887;
  }
  &-p-text{
    padding-left: 20px;
    @include font(400, 18px, 26px);
    color: #B3B3BA;
  }
  &-padding-top-text{
    padding-top: 48px;
  }
}

