*,body, html {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
header {
  background-color: $header-color;
}

.smart {
  font-size: 28px;
  line-height: 35px;
  text-decoration: none;
  color: #494949;
  @include font600;
  border: 3px solid #706b73;
  padding: 0 15px;
}

h1 {
  @include font600;
  color: #6b6b6b;
  text-align: center;
  font-size: 50px;
  line-height: 46px;
  padding-bottom: 37px;
}

.description_title {
  @include font400;
  color: #565656;
  text-align: center;
}

.block_marging {
  margin-top: 105px;
}

.block_padding {
  padding-top: 44px;
}

.card-title {
  text-align: center;
  padding-bottom: 30px;
}


.btn_form {
  text-decoration: none;
  background-color: #ff5c36;
  color: white;
  padding: 10px 36px;
  border-radius: 40px;
  border: none;
}

.button_text {
  padding: 19px 0;
  text-align: center;
}

#exampleFormControlTextarea1 {
  resize: none;
  border: none;
  border-bottom: 1px solid grey;
}

#exampleInputEmail1 {
  border: none;
  border-bottom: 1px solid grey;
}

#exampleInputPassword1 {
  border: none;
  border-bottom: 1px solid grey;
}

h2 {
  @include font600;
  color: #000000;
  text-align: center;
  font-size: 50px;
  line-height: 46px;
}

.marging_block {
  margin-top: 140px;
}

// Working process cards //

.form_card{
  width: 25rem;
}
.card {
  filter: drop-shadow(0 0 28.5px rgba(20, 20, 21, 0.2));
}

.card-text {
  color: white;
  @include font400;
  padding-bottom: 50px;
}

.card-title {
  color: white;
  @include font600;
}

.padding_top_img {
  padding-top: 53px;
}

.btn_working {
  @include font400;
  text-decoration: none;
  color: black;
  padding: 22px 60px;
  background-color: #ffffff;
  border-radius: 27px;
  filter: drop-shadow(1.91px 10.833px 10px rgba(20, 20, 21, 0.07));
}

// Featured Works //

.featured_margin {
  margin-top: 280px;
}

.featured-block {
  height: 359px;
  margin-bottom: 22px;
}

// Services We Provide //

.apple-watch {
  max-width: 300px;
}

h4 {
  @include font400;
  font-size: 30px;
}

.service_text {
  @include font400;
  font-size: 16px;
  line-height: 25px;
}

.btn_padding {
  margin-bottom: 30px;
}

.iccon {
  max-height: 100px;
  width: 60px;
  padding-bottom: 50px;
}

// Team Chinen & Skills //

.hidden {
  position: relative;
  visibility: hidden;
}

.invise_block:hover {
  visibility: hidden;
  .hidden {
    visibility: visible;
  }
}

.team_margin {
  margin-top: 306px;
}

.title_text {
  @include font600;
  text-align: center;
}

.block-team {
  width: 70%;
  border-radius: 2px;
  filter: drop-shadow(1.042px 5.909px 8px rgba(20, 20, 21, 0.08));
  background-color: #ffffff;
}

.height {
  height: 446px;
}

.block-team_center img {
  text-align: center;
}

.size {
  font-size: 30px;
  line-height: 46px;
}

.margin_bottom {
  margin-bottom: 0;
}

.img-iccons {
  text-align: center;
}

.img-iccons-social {
  padding-right: 10px;
}

.img-iccons a {
  text-decoration: none;
}

.carousel-indicators {
  position: static;
  margin-top: 53px;
}

.text_aling {
  text-align: center;
}

.img_stars {
  padding-bottom: 18px;
}

.text_padding_stars {
  padding: 95px 50px 0;
}

.description_stars {
  @include font600;
  font-weight: 400;
}

.carousel-control-next {
  opacity: 1 !important;
}

.carousel-caption {
  position: static;
}
.carousel-indicators [data-bs-target] {
  width: 18px;
  border-radius: 2px;
}



.carousel-control-next-icon:hover {
  background-color: $bk-orange;
  border-radius: 50%;
  filter: none;
}

.carousel-control-prev{
  opacity: 1;
  
}

.carousel-control-prev-icon:hover {
  background-color: $bk-orange;
  border-radius: 50%;
  filter: none;
}

.left-right{
  padding: 8px;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
 
}


.left-right:hover{
  background-color: $bk-orange;
  border-radius: 50%;
  color: white;
  
}


.carousel-indicators .active {
  background-color: $bk-orange !important;
}

.card {
  filter: none;
}

.img_clients {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid black;
}


.filter_shadow {
  filter: drop-shadow(0 0 10.6px rgba(20, 20, 21, 0.2));
}

.padding_top_carousel{
  padding-top: 30px;
}

.block_carousel_margin{
  margin-top: 84px;
}



// Partners //

.margin_bottom_partners {
  margin-bottom: 91px;
}


.border_bottom {
  padding-bottom: 15px;
  border-bottom: 2px solid#ff5c36;
}

.p-b-h {
  padding-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .border_bottom {
    padding-bottom: 0px;
  }
}

// footer //

footer{
  background-color: $header-color;
}

.contact_us{
  text-align: center;
}

.m_f{
  margin-top: 88px;
}

.footer{
  
  &-iccon{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #d3d3d3;
  }
    &-facebook{
      padding: 20px 31px 16px 22px;
    }
    &-twitter{
      padding: 20px 26px 17px 28px;
    }
    &-ico-circle{
      padding: 20px 28px 16px 28px;
    }
    &-be{
      padding: 20px 27px 17px 27px;
    }
    &-text{
      @include font400;
      font-size: 17px;
      line-height: 46px;
      color: #040404;
      font-weight: 400;
      font-family: "Open Sans";
      text-align: start;
      margin-bottom: 0rem!important;
    }
    &-all-iccons{
      text-align: end;
    }
    @media screen and (max-width:766px) {
      .footer-text{
        text-align: center;
      }
      .footer-all-iccons{
        padding-bottom: 50px;
        text-align: center;
      }
    }
  }


.p-c-t{
  text-align: center;
  padding-top: 50px;
}

.m_l_b{
  margin-left: 16px;
}

.m_r_b{
  margin-right: 25px;
}

.padding{
  padding-bottom: 56px;
}

.padding_contact{
  padding: 20px 80px;
}

.footer-iccon:hover{
  background-color: $bk-orange;
   filter: drop-shadow(1.91px 10.833px 10px rgba(20, 20, 21, 0.07));
}

// Colors //
.background_orange {
  background-color: #ff5c36;
}
.orange {
  color: #fc6f4e;
}
.lightorange {
  color: #ff967a;
}
.black {
  color: black;
}

// Working process cards //

.lightblue {
  background-color: #4eb2f7;
  margin: auto;
}

.lilac {
  background-color: #c049f8;
  margin: auto;
}

.blue {
  background-color: #817eff;
  margin: auto;
}

.pink {
  background-color: #f74770;
  margin: auto;
}

.light {
  background-color: #fff3f0;
}


// Адаптация //

@media screen and (max-width:767px) {

  .adapt_carousel_hid{
    display: none;
  }

  .adapt_carousel{
    width: 100%;
  }


}

@media screen and (max-width: 990px) {

  .partners {
    text-align: center;
  }
  .partner {
    padding-bottom: 50px;
  }
}


@media screen and (max-width:1100px) {
  .form_card{
    margin: auto;
  }
}

@media screen and (max-width: 750px) {
  .apple-watch {
    width: 100%;
  }
  .col-xl-6,
  .col-lg-6,
  .col-md-6,
  .col-sm-6 {
    text-align: center;
  }
  .card {
    margin: auto;
  }
}

@media screen and (max-width: 578px) {
  .iccons,
  .apple-watch {
    display: none;
  }
}


@media screen and (max-width: 786px) {
  .block-team {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 825px) {
  .block-team {
    width: 80%;
  }
}


@media screen and (max-width:377px) {
  .form_card{
    width: 300px;
  }
}

@media screen and (max-width:415px) {
  .form_card{
    width: 300px;
  }
}