*, body, html{
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);


.color-head{
  background-color: $header-color;
}

.nav_smart{
  border: 1px solid #170f1c;
  color: black;
  padding: 15px 21px;
  font-family: $font600;
}
.s_smart{
  color: #fa9179!;
}