.publications-block{
  padding-top: 300px;
  border-radius: 12px 12px 0px 0px;
  background-color: $bg-grey-color;
  &-text-butt{
    @include font(600, 14px, 21px);
    text-transform: uppercase;
    color:#323264;
    text-align: center;
    z-index: 1000;
    margin: 0px;
  }
  &-padding-bottom-but{
    padding-bottom: 50px;
  }
}


// Кнопка
#but-pub{
  display: none;
}


.but-pub{
  position: relative;
  display: flex;
  width: 260px;
  height: 50px;
  background: #E6E6F0;
  border-radius: 12px;
  align-items: center;
  padding-left: 5px;
}

.but-pub::before{
  content: "";
  display: flex;
  background: #FFFFFF;
  width: 127px;
  height: 36px;
  border-radius: 10px;
  position: absolute;
  left: 5px;
  transition: .5s;

}

#but-pub:checked ~ .but-pub::before{
  left: 127px;

}


// Публикации

.container-publications {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 0.1fr 0.2fr 0.2fr 0.4fr 0fr 0.1fr 0.3fr 0.4fr 0.1fr;
  gap: 40px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 60px;
  grid-auto-flow: row;
  grid-template-areas:
    "first-block second-block third-block"
    "four-block second-block third-block"
    "four-block five-block third-block"
    "four-block five-block six-block"
    "four-block five-block six-block"
    "seven-block five-block six-block"
    "seven-block eight-block six-block"
    "seven-block eight-block nine-block"
    "ten-block eight-block nine-block"
    "ten-block . nine-block"
    "ten-block eleven-block ."
    "ten-block eleven-block twelve-block"
    ". eleven-block twelve-block"
    ". . twelve-block";
}

.first-block { grid-area: first-block; }

.second-block { grid-area: second-block; }

.third-block { grid-area: third-block; }

.four-block { grid-area: four-block; }

.five-block { grid-area: five-block; }

.six-block { grid-area: six-block; }

.seven-block { grid-area: seven-block; }

.eight-block { grid-area: eight-block; }

.nine-block { grid-area: nine-block; }

.ten-block { grid-area: ten-block; }

.eleven-block { grid-area: eleven-block; }

.twelve-block { grid-area: twelve-block; }


@media screen and (max-width: 1990px) {
  .five-block{
    margin-top: 80px;
  }
  .eight-block {
    margin-top: 50px;
  }
  .ten-block{
    margin-top: -100px;
  }
  .eleven-block{
    margin-top: 50px;
  }
}

@media screen and (max-width: 1600px) {
  .five-block{
    margin-top: 0px;
  }
  .six-block{
    margin-top: -60px;
  }
  .seven-block{
    margin-top: -30px;
  }
  .eight-block {
    margin-top: 0px;
  }
  .ten-block{
    margin-top: 10px;
  }
}


@media screen and(max-width:1110px) {
  .container-publications {
     grid-template-rows: 300px 60px 0px 180px 100px 0px 100px 150px 0.2fr 100px 80px;
    }
  .nine-block{
    margin-top: -50px;
  }
  .seven-block{
    margin-top: -20px;
  }
  .ten-block{
    margin-top: -60px;
  }
  .eleven-block{
    margin-top: -30px;
  }
  .twelve-block{
    margin-top: -60px;
  }
  .eight-block{
    margin-top: 40px;
  }
}

@media screen and(max-width:990px) {
  .four-block{
    margin-top: 20px;
  }
  .ten-block{
    margin-top: 1px;
  }
  .six-block{
    margin-top: 15px;
  }
}

@media screen and(max-width:900px) {
  .four-block{
    margin-top: 30px;
  }
  .eight-block{
    padding-top: 30px;
  }
  .eleven-block{
    padding-top: 20px;
  }

}


@media screen and(max-width:850px) {

  .container-publications {
    grid-template-rows: 350px 60px 0px 180px 100px 0px 100px 170px 0.2fr 100px 120px;

   }
}

@media screen and(max-width:791px) {

  .container-publications {
    grid-template-rows: 120px 60px 60px 0px 100px 0px 80px 0px 0.2fr 100px 120px;

   }
   .seven-block{
    margin-top: -80px;
   }
   .eight-block{
    padding-top: 0px;
    margin-top: 0px;
   }
   .nine-block{
    margin-top: 0px;
   }
   .ten-block{
    margin-top: -90px;
   }
   .eleven-block{
    padding-top: 0px;
   }
   .twelve-block{
    margin-top: -30px;
   }
}

@media screen and(max-width:791px) {

  .container-publications {
   display: flex;
   flex-direction: column;
   width: 80%;
   margin: auto;

   }
   .seven-block{
    margin-top: 0px;
   }
   .ten-block{
    margin-top: 0px;
   }

}

@media screen and(max-width:791px) {

  .third-block, .seven-block, .eight-block, .ten-block,.eleven-block, .twelve-block{
    display: none;
  }

}


// Publications-page

.publications-page{
  padding: 200px 265px 0px 265px;
  &-img{
    width: 909px;
  }
  &-title{
    @include font(700, 32px, 38px);
    color: #323264;
    padding-top: 40px;
  }
  &-data{
    @include font(700, 12px, 14px);
    margin-bottom: 0px;
    color: #B3B3BA;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 4px solid #EDEDF7;
  }
  &-describe{
    @include font(400, 18px, 26px);
    color: black;
    &padding-top{
      padding-top: 40px;
    }
  }
  &-text-result{
    @include font(700, 24px, 28px);
    color: #46466E;
  }
  &-list{
    @include font(600, 18px, 26px);
    color: $base-color;
    margin-top: 20px
  }
  &-text-list{
    @include font(400, 18px, 26px);
    color: black;
    padding-left: 10px;
  }
  &-own-text{
    @include font(400, 18px, 26px);
    color: black;
    padding-top: 25px;
  }
  &-describe-img-2{
    @include font(400, 16px, 22px);
    color: $grey-color;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
  }
  &-block-padding{
    padding-top: 40px;
  }
  &-text-chil{
    @include font(700, 24px, 28px);
    color: #323264;
  }
  &-border-bottom{
    padding-bottom: 40px;
    border-bottom: 4px solid #E6E6F0;
  }
  &-icons-block{
    margin-bottom: 60px;
    margin-top: 20px;
    &-icon{
      border-radius: 12px;
      background-color: $bg-grey-color;
      padding: 9px;
      margin-right: 10px;
      :hover{
        cursor: pointer;
      }
    }
  }
  
}


.base-color{
  color: #F0145A;
}