.width-team-title{
  width: 864px;
  margin: auto;
  @media screen and (max-width:880px) {
    width: auto;
    padding: 0px 20px;
    text-align: center;
  }
}

.team-block{
  padding: 80px 60px;
  &-name{
    @include font(400, 18px, 21px);
    color: #323264;
    padding-top: 20px;
  }
  &-sub{
    @include font(400, 16px, 22px);
    color: $grey-color;
  }
  &-flex-direction{
    flex-direction: column-reverse;
  }
}