.width-team-title{
  width: 864px;
  margin: auto;
  padding-top: 200px;
  @media screen and (max-width:880px) {
    width: auto;
    padding: 0px 20px;
    text-align: center;
    padding-top: 200px;
  }
}

.team-block{
  padding: 80px 60px;
  &-name{
    @include font(400, 18px, 21px);
    color: #323264;
    padding-top: 20px;
  }
  &-sub{
    @include font(400, 16px, 22px);
    color: $grey-color;
  }

}

@media screen and (max-width: 764px) {
  .team-block-flex-direction{
    flex-direction: column-reverse;
  }
}


@media screen and (max-width: 500px) {
.adapt-momible-team-img{
  width: 50%!important;
}
.adapt-momible-team{
  display: flex;
  padding-bottom: 20px;
}
.team-block{
  padding: 0px;
  margin-top: 20px;
}
.adapt-momible-text{
  flex-direction: column;
  justify-content: end!important;
  align-items: normal!important;
  padding-left: 20px;
}
}


// Block user


.p-b-a-u{
  padding: 320px 172px 80px 172px;
}

.block-user-link{
  color: $blue-color;
}

.p-l-a-u{
  padding-left: 30px;
}

.p-r-a-u{
  margin-right: 10px;
}

.b-b-a-u{
  border-bottom: 4px solid #E6E6F0;
}


.p-l-a-u-b{
  padding-left: 40px;
}


.describe-text-about-user{
  @include font(400, 18px, 26px);
  color:black;
}

.describe-title-text-about-user{
  @include font (600, 14px, 17px);
  color: #323264;
  text-transform: uppercase;
}

.p-t-a-u{
  padding-top: 40px;
}

@media screen and (max-width:1400px) {
  .p-b-a-u{
    padding: 320px 90px 80px 90px;
  }
}


@media screen and (max-width:1110px) {
  .adapt-a-u-i{
    display: flex;
    align-items: center;
  }
  .p-l-a-u{
    padding-left: 15px;
  }
}

@media screen and (max-width:1200px) {
  .p-b-a-u{
    flex-direction: column;
    align-items: center;
  }
  .p-l-a-u-b{
    padding-left: 0px;
    padding-right: 0px;
  }
  .adapt-a-u-i{
    width: 70%;
  }
  
}

@media screen and (max-width:800px) {
  .adapt-a-u-i{
    width: 100%;
  }
  
}


@media screen and (max-width:607px) {
  .p-l-a-u{
    padding-left: 0px;
  }
  .b-b-a-u{
    flex-direction: column;
  }
  .p-b-a-u{
    padding: 320px 40px 80px 40px;
  }
  
}

@media screen and (max-width:410px) {

  .p-b-a-u{
    padding: 214px 20px 40px 20px;
  }
  
}
